body, html{
    height: 100vh; /*Unidad que ocupa toda la altura disponible de la pag*/
}

body{
    margin: 0; /*Eliminar espacio fuera del contenedor*/
    padding: 0; /*Eliminar espacio dentro del contenedor*/
    background: url(Img/blue\ colors.jpg); 
    background-repeat: no-repeat; /*Previene que se repita una img cuando sut amaño es pequeño*/
    background-size: cover; /* Ajusta la img al tamaño del body*/
    background-position: center; /* Centrar la img*/

    /*flexbox*/
    display: flex;
    flex-direction: column; /*bloques en forma de fila*/
    flex-wrap: wrap; /*Si no cabe el contenido, se colocan en diferentes filas*/
    justify-content: center;
    align-items: center;
    overflow: hidden; /*Quita por defecto barra de desplazamiento*/
}

.form-box{
    width: 330px;
    padding: 60px 30px;
    border-radius: 20px;
    box-shadow: 1px 2px 70px 5px black;
    background: linear-gradient(to bottom left, #90443b,#d0674a,#ff8737, #fb9f3d);
    text-align: center;
    color: #fff;
}

.form-tittle{
    margin-bottom: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="submit"]{
    border: 0;
    background-color: #e3f1f1;
    display: block; /*Se colocan uno encima de otro*/
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #063970;
    width: 250px;
    outline: none; /*Elimina un borde exterior*/
    color: #3d3d59;
    border-radius: 24px;
}

.form-box input[type="password"]{
    margin: 20px auto auto auto;
}

.form-box input[type="text"]{
    margin: 20px auto;
}

.form-box button[type="submit"]{
    margin: 20px auto;
}

::placeholder{
    font-family: monospace;
    font-size: 13px;
    color: #154c79;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus{
    transition: 0.25s;
    width: 280px;
    border-color: #1e81b0;
}

.form-box button[type="submit"]{
    font-size: 13px;
    margin-top: 50px;
    border: 0;
    background-color:#3d3d59;
    width: 150px;
    color:#fff;
    border: 2px solid #3d3d59;
}

.form-box button[type="submit"]:hover{
    background-color: #154c79; /*Elimina el fondo del boton cuando el puntero está sobre el*/
    border: 2px solid #154c79;
    cursor: pointer; /*Cambia el estilo del cursor del mouse*/
}

.check {
    width: 13px;
    height: 13px;
    display: inline;
}

.check-label{
    color: #fff;
    font-size: 13px;
}

.olvido{
    color: #fff;font-size: 13px;
    margin-left: 45px;
}

.noCuenta,
.registrarse {
    color: #fff;
    font-size: 14px;
    display: block;
}